# Copyright 2023 The StableHLO Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Publish Python Wheel Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

# Ensure that only a single job or workflow using the same
# concurrency group will run at a time. This would cancel
# any in-progress jobs in the same github workflow and github
# ref (e.g. refs/heads/main or refs/pull/<pr_number>/merge).
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cmake-build:
    # Only run scheduled CI on main repo
    if: (github.repository == 'openxla/stablehlo' || github.event_name != 'schedule')
    name: "cmake-build ${{ github.event_name == 'schedule' && '(llvm-project@HEAD)' || ''}}"
    env:
      LLVM_PROJECT_DIR: "llvm-project"
      LLVM_BUILD_DIR: "llvm-build"
      STABLEHLO_BUILD_DIR: "stablehlo-build"
    strategy:
      fail-fast: false
    runs-on: ${{ github.repository == 'openxla/stablehlo' && 'ubuntu-22.04-64core' ||  'ubuntu-22.04'  }}

    steps:
    - name: Checkout StableHLO
      uses: actions/checkout@v4

    - name: Get LLVM Version
      id: llvm-version
      shell: bash
      run: |
        echo "version=$(cat ${{ github.workspace }}/build_tools/llvm_version.txt)" >> $GITHUB_OUTPUT

    - name: Setup workspace
      uses: ./.github/actions/setup-build
      with:
        llvm-version: ${{ steps.llvm-version.outputs.version }}

    - name: Configure and Build LLVM
      shell: bash
      run: |
        ./build_tools/github_actions/ci_build_cmake_llvm.sh "$LLVM_PROJECT_DIR" "$LLVM_BUILD_DIR"
      env:
          CMAKE_BUILD_TYPE: Release
          LLVM_ENABLE_BINDINGS: ON

    - name: Build and Test StableHLO with Python
      shell: bash
      run: |
        ./build_tools/github_actions/ci_build_cmake.sh "$LLVM_BUILD_DIR" "$STABLEHLO_BUILD_DIR"
        cd "$STABLEHLO_BUILD_DIR"
        ninja check-stablehlo-python
      env:
          CMAKE_BUILD_TYPE: Release
          LLVM_ENABLE_BINDINGS: ON

    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip' # caching pip dependencies
    - run: pip install build

    - name: Build Python Wheel"
      shell: bash
      run: |
        cd "$GITHUB_WORKSPACE/stablehlo/integrations/python"
        python3 -m build -w --dist-dir $GITHUB_WORKSPACE/${{ github.sha }}

    - name: Upload an artifact
      uses: actions/upload-artifact@v4
      with:
        if-no-files-found: error
        name: build_artifact
        path: ${{ github.sha }}

  upload-tarballs:
    runs-on: ubuntu-20.04
    needs: cmake-build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build_artifact
          path: ${{ github.sha }}

      - name: Release current commit
        uses: ncipollo/release-action@v1.13.0
        with:
          artifacts: "${{ github.sha }}/*.whl"
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag: "dev-wheels"
          name: "dev-wheels"
          removeArtifacts: false
          allowUpdates: true
          replacesArtifacts: true
          makeLatest: true
